<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=LENOVO-PC;Initial Catalog=SampleWebApp;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="SampleService.ServiceClasses.SampleService" behaviorConfiguration="mexBehaviour">
        <endpoint address="SampleServiceJson" binding="webHttpBinding" contract="SampleService.ServiceInterfaces.ISampleService" behaviorConfiguration="json"/>
        <!--<endpoint address="SampleServiceXml" binding="webHttpBinding" contract="SampleService.ServiceInterfaces.ISampleService"  behaviorConfiguration="XML"/>-->
        <endpoint address="SampleService" binding="netTcpBinding" contract="SampleService.ServiceInterfaces.ISampleService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:8082/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
        <!--<behavior name="XML">
          <webHttp defaultOutgoingResponseFormat="Xml"/>
        </behavior>-->
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>